@using GoodeBooks.Services.ViewModels.Authors;
@model AuthorCreateViewModel

<form asp-action="CreateNewAuthor" asp-controller="Author" method="post" enctype="multipart/form-data">
    <div class ="form-group">
        <label asp-for="Names">Name:</label>
        <input asp-for="Names" class="form-control" />
        <span asp-validation-for="Names" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VolumeInfoIds">Volume Info IDs:</label>
        <input asp-for="VolumeInfoIds" class="form-control" />
        <span asp-validation-for="VolumeInfoIds" class="text-danger"></span>
    </div>

    <button type="submit">Create</button>
</form>