table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    padding: 8px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.table-image {
    width: 100px;
    height: auto; 
    
}

.rating-column {
    width:500px;
}

.star-rating {
    display: inline-block;
}

.star-icon {
    display: none;
}

    .star-icon:checked ~ label {
        color: gold;
    }

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
