@using GoodeBooks.Services.ViewModels.Volumes;
@model VolumeViewModel

<form asp-action="GetById" asp-controller="Volume" method="get">
    <div>
        <label asp-for="Kind"></label>
        <input asp-for="Kind" readonly/>
    </div>

    <div>
        <label asp-for="Etag"></label>
        <input asp-for="Etag" readonly />
    </div>

    <div>
        <label asp-for="VolumeName"></label>
        <input asp-for="VolumeName" readonly />
    </div>

    <div>
        <label asp-for="Country"></label>
        <input asp-for="Country" readonly />
    </div>

    <div class="form-group">
        <label asp-for="TextSnippet">Text Snippet:</label>
        <textarea class="form-control" asp-for="TextSnippet"></textarea>
    </div>
</form>
