@using GoodeBooks.Services.ViewModels.Volumes;
@model VolumeViewModel

<div class="form-container">
<form asp-action="GetById" asp-controller="Volume" method="get">
    <div>
        <label asp-for="Kind"></label>
        <input asp-for="Kind" readonly/>
    </div>

    <div>
        <label asp-for="Etag"></label>
        <input asp-for="Etag" readonly />
    </div>

    <div>
        <label asp-for="VolumeName"></label>
            <input asp-for="VolumeName" class="title" readonly />
    </div>

    <div>
        <label asp-for="Country"></label>
        <input asp-for="Country" readonly />
    </div>

    <div class="form-group">
        <label asp-for="TextSnippet">Text Snippet:</label>
        <textarea class="form-control" asp-for="TextSnippet"></textarea>
    </div>
    <img src="@Model.ImageUrl" alt="Image" class="form-image">
</form>
</div>

<style>
    .form-image {
        max-width: 200px; 
        height: auto; 
        display: block;
        margin-bottom: 10px; 
        margin-top: -200px;
        float: right; 
        margin-right:500px;
    }
    .form-control {
        max-width: 500px;
    }

    .form-container {
        overflow: hidden; 
    }
    .title {
        width: 450px;
    }
</style>
