@using GoodeBooks.Services.ViewModels.Volumes;

@model VolumeUpdateViewModel

<form asp-action="UpdateVolume" asp-controller="Volume" method="post">
    <input hidden asp-for="Id" />
    <div>
        <label asp-for="VolumeInfoId"></label>
        <input asp-for="VolumeInfoId" style="width=300px"/>
    </div>

    <div>
        <label asp-for="SaleInfoId"></label>
        <input asp-for="SaleInfoId" />
    </div>

    <div>
        <label asp-for="SearchInfoId"></label>
        <input asp-for="SearchInfoId" />
    </div>

    <button type="submit">Update</button>
</form>
