@using GoodeBooks.Services.ViewModels.Bookshelves;
@model BookshelfViewModel

<form asp-controller="Bookshelf" asp-action="GetInformation" method="get">
    <div class="form-group">
        <label asp-for="Kind">Country:</label>
        <input asp-for="Kind" class="form-control" readonly />
        <span asp-validation-for="Kind" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control" readonly />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Created">Created on:</label>
        <input asp-for="Created" class="form-control" readonly />
        <span asp-validation-for="Created" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Updated">Updated on:</label>
        <input asp-for="Updated" class="form-control" readonly />
        <span asp-validation-for="Updated" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VolumeCount">Number of volumes:</label>
        <input asp-for="VolumeCount" class="form-control" readonly />
        <span asp-validation-for="VolumeCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VolumeTitles">Titles:</label>
        <input asp-for="VolumeTitles" class="form-control" readonly />
        <span asp-validation-for="VolumeTitles" class="text-danger"></span>
    </div>
</form>

