@using GoodeBooks.Services.ViewModels.SearchInfos;
@model SearchInfoViewModel

<form asp-action="GetById" asp-controller="SearchInfo" method="post">
    <div class="form-group">
        <label asp-for="TextSnippet">Text Snippet:</label>
        <textarea class="form-control" asp-for="TextSnippet"></textarea>
    </div>
</form>
